{% load staticfiles %}
<nav class="uk-background-default uk-navbar-container  uk-visible@m" uk-navbar uk-navbar uk-sticky="animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
    <div class="uk-navbar-center">
        <div class="uk-navbar-center">
            <div>
                <ul class="uk-navbar-nav">
                    {% if site %}
                        <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                            <a href="
                            {% if lang_code == 'English' %}
                            {% url 'en:en' %}
                            {% else %}
                            {% url 'es:es' %}
                            {% endif %}">
                                <img class="logo-menu" src="{% if site.logo %}{{site.logo.url}}{% else %}{% static 'base/images/logo.png' %}{% endif %}" alt="{{site.name}}">
                            </a>
                        </li>
                    {% endif %}
                    <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                        <a href="
                        {% if lang_code == 'English' %}
                        {% url 'en:en' %}
                        {% else %}
                        {% url 'es:es' %}
                        {% endif %}">
                            {% if lang_code == 'English' %}
                            Home
                            {% else %}
                            Inicio
                            {% endif %}
                        </a>
                    </li>
                    
                    <li class="{% if pg_title == 'about' %}uk-active{% endif %}">
                        <a href="{% if lang_code == 'English' %}{% url 'en:about' %}{% else %}{% url 'es:historia' %}{% endif %}">
                            {% if lang_code == 'English' %}
                            About us
                            {% else %}
                            ¿Quienes Somos?
                            {% endif %}
                        </a>
                    </li>
                    
                    <li class="{% if pg_title == 'our_brands' %}uk-active{% endif %}">
                        <a href="{% if lang_code == 'English' %}{% url 'en:our_brands' %}{% else %}{% url 'es:marcas' %}{% endif %}">
                            {% if lang_code == 'English' %}
                            Brands
                            {% else %}
                            Marcas
                            {% endif %}
                        </a>
                    </li>
                    
                    <li class="{% if pg_title == 'news' %}uk-active{% endif %}">
                        <a href="
                        {% if lang_code == 'English' %}
                        {% url 'en:news' %}
                        {% else %}
                        {% url 'es:noticias' %}
                        {% endif %}">
                            {% if lang_code == 'English' %}
                            News
                            {% else %}
                            Noticias
                            {% endif %}
                        </a>
                    </li>
                    
                    <li class="{% if pg_title == 'contact' %}uk-active{% endif %}">
                        <a href="
                        {% if lang_code == 'English' %}
                        {% url 'en:contact' %}
                        {% else %}
                        {% url 'es:contacto' %}
                        {% endif %}">
                            {% if lang_code == 'English' %}
                            Contact
                            {% else %}
                            Contacto
                            {% endif %}
                        </a>
                    </li>
                    <li class="uk-animation-toggle">
                        <a href="" class="uk-animation-shake"><span uk-icon="icon: world"></span></a>
                        <div class="uk-navbar-dropdown">
                            <ul class="uk-nav uk-navbar-dropdown-nav">
                                {% if lang == 'English' %}
                                    <li>
                                        <form action="{% url 'lang' %}" method="post">
                                            {% csrf_token %}
                                            <input class="uk-hidden" type="text" name="lang_code" value="Spanish">
                                            <input class="uk-hidden" type="text" name="url" value="{{es_url}}">
                                            <input type="submit" value="ES" class="submit-input"/>
                                        </form>
                                    </li>
                                {% endif %}
                                {% if lang == 'Spanish' %}
                                    <li>
                                        <form  action="{% url 'lang' %}" method="post">
                                            {% csrf_token %}
                                            <input class="uk-hidden" type="text" name="lang_code" value="English">
                                            <input class="uk-hidden" type="text" name="url" value="{{url}}">
                                            <input type="submit" value="EN" class="submit-input"/>
                                        </form>
                                    </li>
                                {% endif %}
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<nav class="uk-navbar-container uk-hidden@m uk-position-top uk-position-fixed" uk-navbar uk-sticky="animation: uk-animation-slide-top; bottom: #offset">
    <div class="uk-navbar-center">
        <div class="uk-navbar-center">
            <div>
                <ul class="uk-navbar-nav">
                    {% if site %}
                        <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                            <a href="
                            {% if lang_code == 'English' %}
                            {% url 'en:en' %}
                            {% else %}
                            {% url 'es:es' %}
                            {% endif %}">
                                <img class="logo-menu" src="{% if site.logo %}{{site.logo.url}}{% else %}{% static 'base/images/logo.png' %}{% endif %}" alt="{{site.name}}">
                            </a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
    <div class="uk-navbar-right">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#offcanvas-slide" uk-toggle="target: #offcanvas-nav-primary"></a>
    </div>
</nav>
<div class="uk-offcanvas-content">
    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                {% if site %}
                    <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                        <a href="
                        {% if lang_code == 'English' %}
                        {% url 'en:en' %}
                        {% else %}
                        {% url 'es:es' %}
                        {% endif %}">
                            <img src="{% if site.logo %}{{site.logo.url}}{% else %}{% static 'base/images/logo.png' %}{% endif %}" alt="{{site.name}}">
                        </a>
                    </li>
                {% endif %}
                <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:en' %}
                    {% else %}
                    {% url 'es:es' %}
                    {% endif %}">
                        {% if lang_code == 'English' %}
                        Home
                        {% else %}
                        Inicio
                        {% endif %}
                    </a>
                </li>
                <li class="{% if pg_title == 'about' %}uk-active{% endif %}">
                    <a href="{% if lang_code == 'English' %}{% url 'en:about' %}{% else %}{% url 'es:historia' %}{% endif %}">
                        {% if lang_code == 'English' %}
                        About us
                        {% else %}
                        ¿Quienes Somos?
                        {% endif %}
                    </a>
                </li>
                <li class="{% if pg_title == 'our_brands' %}uk-active{% endif %}">
                    <a href="{% if lang_code == 'English' %}{% url 'en:our_brands' %}{% else %}{% url 'es:marcas' %}{% endif %}">
                        {% if lang_code == 'English' %}
                        Corporate
                        {% else %}
                        Negocio
                        {% endif %}
                    </a>
                </li>
                <li class="{% if pg_title == 'news' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:news' %}
                    {% else %}
                    {% url 'es:noticias' %}
                    {% endif %}">
                        {% if lang_code == 'English' %}
                        News
                        {% else %}
                        Noticias
                        {% endif %}
                    </a>
                </li>
                <li class="{% if pg_title == 'contact' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:contact' %}
                    {% else %}
                    {% url 'es:contacto' %}
                    {% endif %}">
                        {% if lang_code == 'English' %}
                        Contact
                        {% else %}
                        Contacto
                        {% endif %}
                    </a>
                </li>
                <li class="uk-parent">
                    <a href="">
                        <span class="uk-margin-small-right" uk-icon="icon: world">
                            {% if lang == 'English' %}
                            <li>
                                <form action="{% url 'lang' %}" method="post">
                                    {% csrf_token %}
                                    <input class="uk-hidden" type="text" name="lang_code" value="Spanish">
                                    <input class="uk-hidden" type="text" name="url" value="{{es_url}}">
                                    <input type="submit" value="Español" class="submit-input"/>
                                </form>
                            </li>
                        {% endif %}
                        {% if lang == 'Spanish' %}
                            <li>
                                <form  action="{% url 'lang' %}" method="post">
                                    {% csrf_token %}
                                    <input class="uk-hidden" type="text" name="lang_code" value="English">
                                    <input class="uk-hidden" type="text" name="url" value="{{url}}">
                                    <input type="submit" value="English" class="submit-input"/>
                                </form>
                            </li>
                        {% endif %}
                        </span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>