{% load staticfiles %}
<!-- Nav Laptop, Desktop -->
<nav class="uk-background-default uk-navbar-container  uk-visible@m" uk-navbar uk-sticky="animation: uk-animation-slide-top; bottom: #sticky-on-scroll-up">
    <div class="uk-navbar-center">
        <div>
            <ul class="uk-navbar-nav">
                <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:en' %}
                    {% else %}
                    {% url 'es:es' %}
                    {% endif %}">
                    <img class="logo-menu" src="{% if site.logo %}{{site.logo.url}}{% else %}{% static 'base/images/logo.png' %}{% endif %}" alt="{{site.name}}">
                    </a>
                </li>
                <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:en' %}
                    {% else %}
                    {% url 'es:es' %}
                    {% endif %}">
                        {% if lang_code == 'English' %}
                        Home
                        {% else %}
                        Inicio
                        {% endif %}
                    </a>
                </li>
                <li class="{% if pg_title == 'about' %}uk-active{% endif %}">
                    <a href="{% if lang_code == 'English' %}{% url 'en:about' %}{% else %}{% url 'es:historia' %}{% endif %}">
                        {% if lang_code == 'English' %}
                        About us
                        {% else %}
                        ¿Quienes Somos?
                        {% endif %}
                    </a>
                </li>
                
                <li class="{% if pg_title == 'our_brands' %}uk-active{% endif %}">
                    <a href="{% if lang_code == 'English' %}{% url 'en:our_brands' %}{% else %}{% url 'es:marcas' %}{% endif %}">
                        {% if lang_code == 'English' %}
                        Brands
                        {% else %}
                        Marcas
                        {% endif %}
                    </a>
                </li>
                
                <li class="{% if pg_title == 'news' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:news' %}
                    {% else %}
                    {% url 'es:noticias' %}
                    {% endif %}">
                        {% if lang_code == 'English' %}
                        News
                        {% else %}
                        Noticias
                        {% endif %}
                    </a>
                </li>
                
                <li class="{% if pg_title == 'contact' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:contact' %}
                    {% else %}
                    {% url 'es:contacto' %}
                    {% endif %}">
                        {% if lang_code == 'English' %}
                        Contact
                        {% else %}
                        Contacto
                        {% endif %}
                    </a>
                </li>
                <li class="uk-animation-toggle">
                    <a href="" class="uk-animation-shake"><span uk-icon="icon: world"></span></a>
                    <div class="uk-navbar-dropdown">
                        <ul class="uk-nav uk-navbar-dropdown-nav">
                            {% if lang == 'English' %}
                                <li>
                                    <form action="{% url 'lang' %}" method="post">
                                        {% csrf_token %}
                                        <input class="uk-hidden" type="text" name="lang_code" value="Spanish">
                                        <input class="uk-hidden" type="text" name="url" value="{{es_url}}">
                                        <input class="uk-hidden" type="text" name="blog" value="{{blog}}">
                                        <input type="submit" value="ES" class="submit-input"/>
                                    </form>
                                </li>
                            {% endif %}
                            {% if lang == 'Spanish' %}
                                <li>
                                    <form  action="{% url 'lang' %}" method="post">
                                        {% csrf_token %}
                                        <input class="uk-hidden" type="text" name="lang_code" value="English">
                                        <input class="uk-hidden" type="text" name="url" value="{{url}}">
                                        <input class="uk-hidden" type="text" name="blog" value="{{blog}}">
                                        <input type="submit" value="EN" class="submit-input"/>
                                    </form>
                                </li>
                            {% endif %}
                        </ul>
                    </div>
                </li>
                <li>
                    <div class="uk-navbar-right">
                        <!-- <a class="uk-navbar-toggle" href="{% if lang_code == 'English' %}#search{% else %}#buscar{% endif %}" uk-search-icon uk-toggle></a> -->
                    </div>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Nav Movil, Tablet -->
<nav class="uk-navbar-container uk-hidden@m uk-position-top uk-position-fixed" uk-navbar uk-sticky="animation: uk-animation-slide-top; bottom: #offset">
    <div class="uk-navbar-center">
        <div>
            <ul class="uk-navbar-nav">
                {% if site %}
                    <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                        <a href="
                        {% if lang_code == 'English' %}
                        {% url 'en:en' %}
                        {% else %}
                        {% url 'es:es' %}
                        {% endif %}">
                            <img class="logo-menu" src="{% if site.logo %}{{site.logo.url}}{% else %}{% static 'base/images/logo.png' %}{% endif %}" alt="{{site.name}}">
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="uk-navbar-right">
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon href="#offcanvas-slide" uk-toggle="target: #offcanvas-nav-primary"></a>
    </div>
</nav>
<!-- Overlay Movil, Tablet -->
<div class="uk-offcanvas-content">
    <div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
        <div class="uk-offcanvas-bar uk-flex uk-flex-column">
            <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
                {% if site %}
                    <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                        <a href="
                        {% if lang_code == 'English' %}
                        {% url 'en:en' %}
                        {% else %}
                        {% url 'es:es' %}
                        {% endif %}">
                            <img src="{% if site.logo %}{{site.logo.url}}{% else %}{% static 'base/images/logo.png' %}{% endif %}" alt="{{site.name}}">
                        </a>
                    </li>
                {% endif %}
                <li class="{% if pg_title == 'home' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:en' %}
                    {% else %}
                    {% url 'es:es' %}
                    {% endif %}">
                        {% if lang_code == 'English' %}
                        Home
                        {% else %}
                        Inicio
                        {% endif %}
                    </a>
                </li>
                <li class="{% if pg_title == 'about' %}uk-active{% endif %}">
                    <a href="{% if lang_code == 'English' %}{% url 'en:about' %}{% else %}{% url 'es:historia' %}{% endif %}">
                        {% if lang_code == 'English' %}
                        About us
                        {% else %}
                        ¿Quienes Somos?
                        {% endif %}
                    </a>
                </li>
                <li class="{% if pg_title == 'our_brands' %}uk-active{% endif %}">
                    <a href="{% if lang_code == 'English' %}{% url 'en:our_brands' %}{% else %}{% url 'es:marcas' %}{% endif %}">
                        {% if lang_code == 'English' %}
                        Brands
                        {% else %}
                        Marcas
                        {% endif %}
                    </a>
                </li>
                <li class="{% if pg_title == 'news' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:news' %}
                    {% else %}
                    {% url 'es:noticias' %}
                    {% endif %}">
                        {% if lang_code == 'English' %}
                        News
                        {% else %}
                        Noticias
                        {% endif %}
                    </a>
                </li>
                <li class="{% if pg_title == 'contact' %}uk-active{% endif %}">
                    <a href="
                    {% if lang_code == 'English' %}
                    {% url 'en:contact' %}
                    {% else %}
                    {% url 'es:contacto' %}
                    {% endif %}">
                        {% if lang_code == 'English' %}
                        Contact
                        {% else %}
                        Contacto
                        {% endif %}
                    </a>
                </li>
                <li class="uk-parent">
                    <a href="">
                        <span class="uk-margin-small-right" uk-icon="icon: world">
                            <li>
                                <form action="{% url 'lang' %}" method="post">
                                    {% csrf_token %}
                                    {% if lang == 'English' %}
                                        <input class="uk-hidden" type="text" name="lang_code" value="Spanish">
                                        <input class="uk-hidden" type="text" name="url" value="{{es_url}}">
                                        <input type="submit" value="Español" class="submit-input"/>
                                    {% else %}
                                        <input class="uk-hidden" type="text" name="lang_code" value="English">
                                        <input class="uk-hidden" type="text" name="url" value="{{url}}">
                                        <input type="submit" value="English" class="submit-input"/>
                                    {% endif %}
                                </form>
                            </li>
                        </span>
                    </a>
                </li>
                <li class="uk-parent">
                    <!-- <a class="uk-navbar-toggle" href="{% if lang_code == 'English' %}#search{% else %}#buscar{% endif %}" uk-search-icon uk-toggle></a> -->
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- Lang Form -->
<div id="{% if lang_code == 'English' %}search{% else %}buscar{% endif %}" class="uk-modal-full uk-modal" uk-modal>
    <div class="uk-modal-dialog uk-flex uk-flex-center uk-flex-middle" uk-height-viewport>
        <button class="uk-modal-close-full" type="button" uk-close></button>
        {% if lang_code == 'English' %}
            <form class="uk-search uk-search-large" method="post" action="{% url 'en:search' %}">
                {% csrf_token %}
                <input class="uk-search-input uk-text-center" type="search" placeholder="Search..." name="search" autofocus>
            </form>
        {% else %}
            <form class="uk-search uk-search-large" method="post" action="{% url 'es:buscar' %}">
                {% csrf_token %}
                <input class="uk-search-input uk-text-center" type="search" placeholder="Buscar..." name="buscar" autofocus>
            </form>
        {% endif %}
    </div>
</div>