{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'base/css/swiper.min.css' %}">
<style media="screen">
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .brand-card img{position: absolute; top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;}
    .full .swiper-button-next,
    .full .swiper-button-prev{
        background-color: rgba(0,0,0,.5);
        width: 15%;
        height: 8%;
    }
</style>
{% endblock %}

{% block content %}
    
    <div class="uk-width-1-1">
        <div class="uk-section uk-section-xsmall uk-section-muted">
            <div class="uk-container">
                <!-- Carrusel -->
                <div class="uk-section-muted">
                    <div class="full-screen">
                        <div class="swiper-container">
                           <div class="swiper-wrapper">
                                {% for banner in banners %}
                                    <div class="swiper-slide">
                                        {% if lang_code != 'English' %}
                                            {% if banner.large_image %}
                                                <img src="{{banner.large_image.url}}" alt="{{banner.es_name}}">
                                            {% else %}
                                                <img src="{% static 'base/images/wallpaper.jpg' %}" alt="{{banner.es_name}}">
                                            {% endif %}
                                        {% else %}
                                            {% if banner.image %}
                                                <img src="{{banner.large_image.url}}" alt="{{banner.es_name}}">
                                            {% else %}
                                                <img src="{% static 'base/images/wallpaper.jpg' %}" alt="{{banner.en_name}}">
                                            {% endif %}
                                        {% endif %}
                                    </div>
                                {% endfor %}
                            </div>
                            <div class="swiper-button-next swiper-button-white"></div>
                            <div class="swiper-button-prev swiper-button-white"></div>
                        </div>
                    </div>
                </div>
                <!-- Breadcrumb -->
                <ul class="uk-breadcrumb spy">
                    <li>
                        <a href="{% if lang_code == 'English' %}{% url 'en:en' %}{% else %}{% url 'es:es' %}{% endif %}">
                            {% if lang_code == 'English' %}
                            Home
                            {% else %}
                            Inicio
                            {% endif %}        
                        </a>
                    </li>
                    <li>
                        <span>
                            {% if lang_code == 'English' %}
                                Brands
                            {% else %}
                                Marcas
                            {% endif %}
                        </span>
                    </li>
                </ul>
                <hr>
                {# Filter #}
                {% if brands_cat or brands_type or country %}
                    <div class="uk-margin uk-child-width-1-3@m">
                        {% if brands_cat or brands_type %}
                            <div class="uk-button-group">
                                {% if lang_code == 'English' %}
                                    <button class="uk-button button-phx uk-width-1-1 uk-margin-xsmall-bottom uk-button-default">All Categories</button>
                                    <div class="uk-inline">
                                        <button class="uk-button uk-button-default button-phx" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                {% if brands_cat %}
                                                    <li class="uk-nav-header uk-active">Categories</li>
                                                    {% for cat in brands_cat %}
                                                        <li><a href="{% url 'en:our_brands'%}?cat={{cat.id}}">{{cat.en_name | lower }}</a></li>
                                                    {% endfor %}
                                                    <li class="uk-nav-divider"></li>
                                                {% endif %}
                                                {% if brands_type %}
                                                    <li class="uk-nav-header uk-active">Business Type</li>
                                                    {% for type in brands_type %}
                                                        <li><a href="{% url 'en:our_brands'%}?type={{type.id}}">{{type.en_name | lower }}</a></li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                    <button class="uk-button button-phx uk-width-1-1 uk-margin-xsmall-bottom uk-button-default">Categorías</button>
                                    <div class="uk-inline">
                                        <button class="uk-button uk-button-default button-phx" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                {% if brands_cat %}
                                                    <li class="uk-nav-header uk-active">Categorías</li>
                                                    {% for cat in brands_cat %}
                                                        <li><a href="{% url 'es:marcas'%}?cat={{cat.id }}">{{cat.es_name | lower }}</a></li>
                                                    {% endfor %}
                                                    <li class="uk-nav-divider"></li>
                                                {% endif %}
                                                {% if brands_type %}
                                                    <li class="uk-nav-header uk-active">Tipo de negocio</li>
                                                    {% for type in brands_type %}
                                                        <li><a href="{% url 'es:marcas'%}?type={{type.id}}">{{type.es_name | lower }}</a></li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if country %}
                            <div class="uk-button-group">
                                {% if lang_code != 'English' %}
                                    <button class="uk-button button-phx uk-width-1-1 uk-margin-xsmall-bottom uk-button-default">All Countries</button>
                                    <div class="uk-inline">
                                        <button class="uk-button uk-button-default button-phx" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="uk-active"><a href="#">Active</a></li>
                                                <li><a href="#">Item</a></li>
                                                <li class="uk-nav-header">Header</li>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                                <li class="uk-nav-divider"></li>
                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if brands %}
        <div class="uk-section uk-section-xsmall uk-section-muted">
            <div class="uk-container">
                <div class="uk-grid-match uk-text-center uk-child-width-1-4@m uk-child-width-2@s" uk-grid uk-height-match="target: > div > .uk-card" uk-scrollspy="cls: uk-animation-slide-top-small; target: > div > .uk-card; delay: 900; repeat: true">
                    {% for brand in brands %}
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-center">
                                    <a href="#{{brand.id}}modal-full" uk-toggle>
                                        <img src="{{brand.short_logo.url}}" alt=""  onmouseover="this.src='{{brand.large_logo.url}}'" onmouseout="this.src='{{brand.short_logo.url}}'">
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div id="{{brand.id}}modal-full" class="uk-modal-full" uk-modal>
                            <div class="uk-modal-dialog">
                                <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
                                <div class="uk-child-width-1-2@s uk-flex-middle" uk-grid>
                                    {% if brand.carousel_images %}
                                        <div class="brandSlide{{brand.id}} full">
                                            <div class="swiper-container">
                                                <div class="swiper-wrapper">
                                                    {% for brand_banner in brand.carousel_images.all %}
                                                        {% if forloop.first %}
                                                            <div class="swiper-slide uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
                                                                <div class="uk-background-cover" style="background-image: url('{{brand.large_logo.url}}');" uk-height-viewport></div>
                                                            </div>
                                                            <div class="swiper-slide uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
                                                                <div class="uk-background-cover" style="background-image: url('{{brand_banner.large_banner.url}}');" uk-height-viewport></div>
                                                            </div>
                                                        {% else %}
                                                            <div class="swiper-slide uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
                                                                <div class="uk-background-cover" style="background-image: url('{{brand_banner.large_banner.url}}');" uk-height-viewport></div>
                                                            </div>
                                                        {% endif %}
                                                    {% empty %}
                                                        <div class="swiper-slide uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
                                                            <div class="uk-background-cover" style="background-image: url('{{brand.large_logo.url}}');" uk-height-viewport></div>
                                                        </div>
                                                    {% endfor %}
                                                </div>
                                                <div class="swiper-pagination swiper-button-white"></div>
                                                <div class="swiper-button-next swiper-button-white"></div>
                                                <div class="swiper-button-prev swiper-button-white"></div>
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="uk-background-cover" style="background-image: url('{{brand.large_logo.url}}');" uk-height-viewport></div>
                                    {% endif %}
                                    <div class="uk-padding-large">
                                        {% if lang_code != 'English' %}
                                            <h1>{{brand.es_name}}</h1>
                                            {{brand.es_description|safe}}
                                        {% else %}
                                            <h1>{{brand.en_name}}</h1>
                                            {{brand.en_description|safe}}
                                        {% endif %}
                                        <p>
                                            <a href="{{brand.url}}">{{brand.url}}</a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <script type="text/javascript">
                                $(document).ready(function () {
                                    $('#{{brand.id}}modal-full').on({
                                        'shown': function() {
                                            // console.log('rrrr');
                                            // location.reload();
                                            var swiper;
                                            swiper = new Swiper('.brandSlide{{brand.id}} .swiper-container', {
                                                pagination: '.brandSlide{{brand.id}} .swiper-pagination',
                                                paginationClickable: true,
                                                nextButton: '.brandSlide{{brand.id}} .swiper-button-next',
                                                prevButton: '.brandSlide{{brand.id}} .swiper-button-prev',
                                                loop: true,
                                                autoplay: 8000,
                                            });
                                        }
                                    });
                                })
                            </script>
                        </div>
                        
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="uk-section uk-section-xsmall uk-section-muted">
            <div class="uk-container">
                <div class="uk-grid-match uk-text-center uk-child-width-1-1@m uk-child-width-2@s" uk-grid uk-height-match="target: > div > .uk-card" uk-scrollspy="cls: uk-animation-slide-top-small; target: > div > .uk-card; delay: 900; repeat: true">
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-center uk-section-large">
                                {% if lang_code != 'English' %}
                                    <h1>Ups...! There still are not any result.</h1>
                                {% else %}
                                    <h1>Ups...! Todavía no hay ningún resultado.</h1>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        UIkit.toggle();
    })
    var swiper = new Swiper('.full-screen .swiper-container', {
        pagination: '.full-screen .swiper-pagination',
        paginationClickable: true,
        nextButton: '.full-screen .swiper-button-next',
        prevButton: '.full-screen .swiper-button-prev',
        loop: true,
        autoplay: 8000,
    });
</script>
{% for brand in brands %}

{% endfor %}

{% endblock %}

