{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'base/css/swiper.min.css' %}">
<style media="screen">
    .swiper-container {width: 100%;height: 100%;}
    .swiper-slide {text-align: center;font-size: 18px;background: #fff;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
    .brand-card img{position: absolute; top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;}
    .full .swiper-button-next,
    .full .swiper-button-prev{background-color: rgba(0,0,0,.5);width: 15%;height: 8%;}
    .uk-grid>* {padding-left: 30px;}
</style>
{% endblock %}

{% block content %}
    
    <div class="uk-width-1-1">
        <div class="uk-section uk-section-xsmall uk-section-muted">
            <div class="uk-container">
                <!-- Carrusel -->
                {% if brands_cat.large_image %}
                    <div class="uk-section-muted">
                        <div class="full-screen">
                            <div class="swiper-container">
                            <div class="swiper-wrapper">
                                    {% for banner in brands_cat %}
                                        <div class="swiper-slide">
                                            {% if lang_code != 'English' %}
                                                {% if banner.large_image %}
                                                    <img src="{{banner.large_image.url}}" alt="{{banner.es_name}}">
                                                {% else %}
                                                    <img src="{% static 'base/images/wallpaper.jpg' %}" alt="{{banner.es_name}}">
                                                {% endif %}
                                            {% else %}
                                                {% if banner.image %}
                                                    <img src="{{banner.large_image.url}}" alt="{{banner.es_name}}">
                                                {% else %}
                                                    <img src="{% static 'base/images/wallpaper.jpg' %}" alt="{{banner.en_name}}">
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-button-next swiper-button-white"></div>
                                <div class="swiper-button-prev swiper-button-white"></div>
                            </div>
                        </div>
                    </div>
                {% endif %}
                <!-- Breadcrumb -->
                <ul class="uk-breadcrumb spy">
                    <li>
                        <a href="{% if lang_code == 'English' %}{% url 'en:en' %}{% else %}{% url 'es:es' %}{% endif %}">
                            {% if lang_code == 'English' %}
                            Home
                            {% else %}
                            Inicio
                            {% endif %}        
                        </a>
                    </li>
                    {% if brands_cat_detail %}
                        <li>
                            {% if lang_code == 'English' %}
                            <a href="{% url 'en:our_brands' %}">
                                <span>
                                    Brands
                                </span>
                            </a>
                            {% else %}
                            <a href="{% url 'es:marcas' %}">
                                <span>
                                    Marcas
                                </span>
                            </a>
                            {% endif %}
                        </li>
                        <li>
                            {% if lang_code == 'English' %}
                                <span>
                                    {{brands_cat_detail.en_name}}
                                </span>
                            {% else %}
                                <span>
                                    {{brands_cat_detail.es_name}}
                                </span>
                            {% endif %}
                        </li>
                    {% else %}
                        <li>
                            <span>
                                {% if lang_code == 'English' %}
                                Brands
                                {% else %}
                                Marcas
                                {% endif %}
                            </span>
                        </li>
                    {% endif %}
                </ul>
                <hr>
                {# Filter #}
                {% if brands_cat or brands_type or country %}
                    <div class="uk-margin uk-child-width-1-3@m">
                        {% if brands_cat or brands_type %}
                            <div class="uk-button-group">
                                {% if lang_code == 'English' %}
                                    <button class="uk-button button-phx uk-width-1-1 uk-margin-xsmall-bottom uk-button-default">All Categories</button>
                                    <div class="uk-inline">
                                        <button class="uk-button uk-button-default button-phx" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                {% if brands_cat %}
                                                    <li class="uk-nav-header uk-active">Categories</li>
                                                    {% for cat in brands_cat %}
                                                        <li><a href="{{cat.get_absolute_url_en}}">{{cat.en_name | lower }}</a></li>
                                                    {% endfor %}
                                                    <li class="uk-nav-divider"></li>
                                                {% endif %}
                                                {% if brands_type %}
                                                    <li class="uk-nav-header uk-active">Business Type</li>
                                                    {% for type in brands_type %}
                                                        <li><a href="{% url 'en:our_brands'%}?type={{type.id}}">{{type.en_name | lower }}</a></li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                    <button class="uk-button button-phx uk-width-1-1 uk-margin-xsmall-bottom uk-button-default">Categorías</button>
                                    <div class="uk-inline">
                                        <button class="uk-button uk-button-default button-phx" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                {% if brands_cat %}
                                                    <li class="uk-nav-header uk-active">Categorías</li>
                                                    {% for cat in brands_cat %}
                                                        <li><a href="{{cat.get_absolute_url_es}}">{{cat.es_name | lower }}</a></li>
                                                    {% endfor %}
                                                    <li class="uk-nav-divider"></li>
                                                {% endif %}
                                                {% if brands_type %}
                                                    <li class="uk-nav-header uk-active">Tipo de negocio</li>
                                                    {% for type in brands_type %}
                                                        <li><a href="{% url 'es:marcas'%}?type={{type.id}}">{{type.es_name | lower }}</a></li>
                                                    {% endfor %}
                                                {% endif %}
                                            </ul>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                        {% endif %}

                        {% if country %}
                            <div class="uk-button-group">
                                {% if lang_code != 'English' %}
                                    <button class="uk-button button-phx uk-width-1-1 uk-margin-xsmall-bottom uk-button-default">All Countries</button>
                                    <div class="uk-inline">
                                        <button class="uk-button uk-button-default button-phx" type="button"><span uk-icon="icon:  triangle-down"></span></button>
                                        <div uk-dropdown="mode: click; boundary: ! .uk-button-group; boundary-align: true;">
                                            <ul class="uk-nav uk-dropdown-nav">
                                                <li class="uk-active"><a href="#">Active</a></li>
                                                <li><a href="#">Item</a></li>
                                                <li class="uk-nav-header">Header</li>
                                                <li><a href="#">Item</a></li>
                                                <li><a href="#">Item</a></li>
                                                <li class="uk-nav-divider"></li>
                                                <li><a href="#">Item</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                {% else %}
                                {% endif %}
                            </div>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>

    {% if brands %}
        <div class="uk-section uk-section-xsmall uk-section-muted">
            <div class="uk-container">
                <div class="uk-grid-match uk-text-center uk-child-width-1-5@m uk-child-width-2@s" uk-grid uk-height-match="target: > div > .uk-card" uk-scrollspy="cls: uk-animation-slide-top-small; target: > div ; delay: 300;">
                    {% for brand in brands %}
                        <div id="brandCard">
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-center">
                                    <div class="uk-inline-clip uk-transition-toggle uk-cover-container" tabindex="0">
                                        {% if lang_code == 'English' %}
                                            <a href="{{brand.get_absolute_url_en}}" uk-toggle>
                                                <img src="{{brand.short_logo.url}}" alt="{{brand.en_title}}">
                                                <img class="uk-transition-scale-up uk-position-cover" src="{{brand.large_logo.url}}" alt="{{brand.en_title}}" uk-cover>
                                            </a>
                                        {% else %}
                                            <a href="{{brand.get_absolute_url_es}}" uk-toggle>
                                                <img src="{{brand.short_logo.url}}" alt="{{brand.es_title}}" >
                                                <img class="uk-transition-scale-up uk-position-cover" src="{{brand.large_logo.url}}" alt="{{brand.es_title}}" uk-cover>
                                            </a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        </div>                       
                    {% endfor %}
                </div>
            </div>
        </div>
    {% else %}
        <div class="uk-section uk-section-xsmall uk-section-muted">
            <div class="uk-container">
                <div class="uk-grid-match uk-text-center uk-child-width-1-1@m uk-child-width-2@s" uk-grid uk-height-match="target: > div > .uk-card" uk-scrollspy="cls: uk-animation-slide-top-small; target: > div > .uk-card; delay: 900; repeat: true">
                    <div>
                        <div class="uk-card uk-card-default">
                            <div class="uk-card-media-center uk-section-large">
                                {% if lang_code == 'English' %}
                                    <h1>Ups...! There still are not any result.</h1>
                                {% else %}
                                    <h1>Ups...! Todavía no hay ningún resultado.</h1>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        UIkit.toggle();
        var swiper = new Swiper('.full-screen .swiper-container', {
            pagination: '.full-screen .swiper-pagination',
            paginationClickable: true,
            navigation: {
                nextEl: '.full-screen .swiper-button-next',
                prevEl: '.full-screen .swiper-button-prev',
            },
            loop: true,
            autoplay: 8000,
        });
    })
    
</script>
{% for brand in brands %}

{% endfor %}

{% endblock %}

