{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<style media="screen">
.uk-grid {margin-left: unset !important;}
</style>
{% endblock %}

{% block content %}
	<div class="uk-section uk-section-xsmall uk-section-muted">
		<div class="uk-container" uk-scrollspy="cls: uk-animation-slide-top-small; target: > .spy1; delay: 500; repeat: false">
			<div class="uk-card uk-card-default spy1 uk-card-body"> 
				{% if lang_code == 'English' %}
					{% include 'base/contact/en_form.html' %}
				{% else %}{# End English #}
					{% include 'base/contact/es_form.html' %}
				{% endif %}
			</div>
		</div>
	</div>
	<div class="uk-section uk-section-xsmall uk-section-muted">
		<div class="uk-container" uk-scrollspy="cls: uk-animation-slide-top-small; target: > .spy; delay: 800; repeat: false">
			<div class="uk-grid-match uk-child-width-1-2@m uk-text-center spy" uk-grid uk-height-match="target: > div > .uk-card" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 800; repeat: true">
				<div>
					<div class="uk-card uk-card-primary uk-card-hover uk-card-body uk-light">
						<h3 class="uk-card-title">
							{% if lang_code == 'English' %}
								Postulate for a job
							{% else %}
								Postularse a un empleo
							{% endif %}
						</h3>
						<p><a uk-icon="icon: mail; ratio: 2.5" href="#jobs-modal-center" uk-toggle></a></p>
					</div>
					<div id="jobs-modal-center" uk-modal="center: true">
						<div class="uk-modal-dialog uk-modal-body">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							{% if lang_code == 'English' %}
								<h2 class="uk-modal-title">Postulate for a job</h2>
								<!--<p>By the moment there are no any available open positions.</p>-->
								<form class="uk-form-horizontal" method="post" action="{% url 'en:contact'  %}">
    								{% csrf_token %}
									{% include 'base/contact/en_postulate_form.html' %}
								</form>
							{% else %}
								<h2 class="uk-modal-title">Postularse a un empleo</h2>
								<!--<p>Por el momento no hay vacantes disponibles.</p>-->
								<form class="uk-form-horizontal" method="post" action="{% url 'es:contacto'  %}">
									{% csrf_token %}
									{% include 'base/contact/es_postulate_form.html' %}
								</form>
							{% endif %}
						</div>
					</div>
				</div>
				{# providers form #}
				<div>
					<div class="uk-card uk-card-default uk-card-hover uk-card-body uk-dark">
						<h3 class="uk-card-title">
							{% if lang_code == 'English' %}
								Providers
							{% else %}
								Proveedores
							{% endif %}
						</h3>
						<p><a uk-icon="icon: cart; ratio: 2.5" href="#wholesale-modal-center" uk-toggle></a></p>
					</div>
					<div id="wholesale-modal-center" uk-modal="center: true">
						<div class="uk-modal-dialog uk-modal-body">
							<button class="uk-modal-close-outside" type="button" uk-close></button>
							{% if lang_code == 'English' %}
								<h2 class="uk-modal-title">Providers</h2>
								<p>Please use contact form.</p>
								<p class="uk-text-right">
									<button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
									<button class="uk-button uk-button-primary" type="button">Save</button>
								</p>
							{% else %}
								<h2 class="uk-modal-title">Proveedores</h2>
								<p>Por favor use el formulario de contacto.</p>
								<p class="uk-text-right">
									<button class="uk-button uk-button-default uk-modal-close" type="button">Cancelar</button>
									<button class="uk-button uk-button-primary" type="button">Enviar</button>
								</p>
							{% endif %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
{% endblock %}

{% block js %}

{% endblock %}
