{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'base/css/swiper.min.css' %}">
<style media="screen">


    /* .left-timeline .timelineYear,.left-timeline p{color: #fff;text-align: right} */
    /* .left-timeline img, .right-timeline img{border: #222 1px;border-radius: 50%} */
    /* .left-timeline{height: 100%;margin-right: 350px;border-right: 2px solid #fff;padding-right: 35px;padding-bottom: 25px;} */
    /* .mov .swiper-container {width: 100%;height: 100%;} */
    /* .mov .swiper-slide {text-align: center;font-size: 18px;background: #fff;} */
    /* .right-timeline .timelineYear,.right-timeline p{color: #fff} */
    /* .right-timeline{height: 100%;margin-left: 350px;border-left: 2px solid #fff;padding-left: 35px;padding-bottom: 25px;} */
    /* .swiper-wrapper:nth-child(even) h2{margin-left: 400px;margin-top: 130px;} */
    /* .timeline .swiper-button-next, .timeline .swiper-button-prev{top: 10%;width: 39px !important;position: absolute;transform: rotate(90deg);} */
    /* .timeline .swiper-button-next{left:calc(50% - 30px);top:calc(100% - 53px);z-index: 1999} */
    .timeline .swiper-button-prev{left:calc(1%  + 30px)}
    .timeline .swiper-container ,.mov .swiper-container {width: 100vw;padding-top: 50px;padding-bottom: 50px;}
    .timeline .swiper-slide {background-position: center;background-size: cover;}
    /* .timeline .verticalline::after{content: '';width: 0;height: 684px;position: absolute;border: 3px solid #1b88ff;top: 4px;left: 398px;transform: rotate(0deg);z-index: 0;} */
    .timeline-container, .mov {height: 700px;margin-bottom: 20px;}
    /* .timeline-sw-pagination .swiper-pagination-bullet-active{background: #fff;} */
    /* .timeline-sw-pagination::before{content: "";position: absolute;height: 55px;border-left: 5px solid white;top: 35px;right: 50%;left: 50%;} */
    /* .timeline-sw-pagination{bottom: 89% !important;} */
    /* .timeline, .mov {height: 100%;} */
    .timeline .swiper-wrapper .swiper-slide{padding: 80px;}
    .timeline .swiper-slide:after{
        content: "";
        position: absolute;
        bottom: 0;
        left: 1;
        right: 0;
        height: calc(100% - 260px);
        border-top: 1px solid #fff;
        z-index: -1;
        width: 80px;
    }
    .timeline .swiper-slide:before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 1;
        height: calc(100% - 260px);
        border-top: 1px solid #fff;
        z-index: -1;
        width: 80px;
    }
    .timeline .swiper-slide.no-afterline::after, .timeline .swiper-slide.no-beforeline::before{
        content: "";
    }
    /* .timeline .swiper-wrapper .swiper-slide:after {
        content:"";
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 0.5em;
        border-top: 1px solid black;
        z-index: -1;
    } */
    .timeline .swiper-wrapper .swiper-slide .timelineBody{padding: 25px;background-color: rgba(0, 0, 0, .43)}
    .timelineBody .timelinetitle{color: #ccc021; font-size: 1.15em;}
    .timelineBody .timelineYear{color: #92ceca; font-size: 3.5em;}
    .timelineBody .uk-text-lead{margin-top: -15px; color: #fff}
    /* .timelinetitle{margin-top: -25px;} */


    .values .swiper-slide {height: 150px !important;text-align: center;font-size: 18px;background: #222;display: -webkit-box;display: -ms-flexbox;display: -webkit-flex;display: flex;-webkit-box-pack: center;-ms-flex-pack: center;-webkit-justify-content: center;justify-content: center;-webkit-box-align: center;-ms-flex-align: center;-webkit-align-items: center;align-items: center;}
    .values{margin-bottom: 45px;} 
</style>
{% endblock %}

{% block content %}
    {% if banners %}
        <div class="uk-cover-container">
            <div class="full-screen">
                <div class="swiper-container">
                    <div class="scroll uk-visible@m uk-position-bottom-center">
                        <span id="scroll">
                            <svg version="1.1" id="icn" fill="#fff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                                y="0px" width="40px" height="50px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                                <polygon opacity="0" points="19.9,21 0,1.3 1.4,0 19.9,18.3 38.6,0 40,1.3 ">
                                    <animate id="first" attributeName="opacity" attributeType="XML" dur="3s" from="1" to="0" repeatCount="indefinite" begin="0"
                                    />
                                </polygon>
                                <polygon id="arrow-two" opacity="0" points="19.9,30.9 0,11.2 1.4,9.9 19.9,28.2 38.6,9.8 40,11.2 ">
                                    <animate id="second" attributeName="opacity" attributeType="XML" dur="3s" from="1" to="0" repeatCount="indefinite" begin="1s"
                                    />
                                </polygon>
                                <polygon id="arrow-three" opacity="0" points="19.9,40 0,20.3 1.4,19 19.9,37.3 38.6,19 40,20.3 ">
                                    <animate id="third" attributeName="opacity" attributeType="XML" dur="3s" from="1" to="0" repeatCount="indefinite" begin="2s"
                                    />
                                </polygon>
                            </svg>
                        </span>
                    </div>
                   <div class="swiper-wrapper">
                        {% for banner in banners %}
                            <div class="swiper-slide">
                                <div class="uk-overlay-primary uk-position-cover"></div>
                                {% if lang_code != 'English' %}
                                    <img src="{{banner.image.url}}" alt="{{banner.name}}">
                                {% else %}
                                    <img src="{{banner.image.url}}" alt="{{banner.name}}">
                                {% endif %}
                            </div>
                        {% endfor %}
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next swiper-button-white"></div>
                        <div class="swiper-button-prev swiper-button-white"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="uk-invisible@m">
        <br><br><br>
    </div>
    {% if site %}
        <div class="uk-background-muted">
            <div class="uk-container  uk-background-muted">
                <div class="uk-section-small ">
                    <h3 class="uk-heading-line uk-text-center" style="left: 50%; top: 50%">
                        <span>
                            {% if lang_code != 'English' %}
                                ¿Quienes somos?
                            {% else %}
                                About us
                            {% endif %}
                        </span>
                    </h3>
                </div>
            </div>
        </div>

        <div class="uk-width-1-1 uk-background-muted">
            <div class="uk-container">
                <div class="">
                    <div class=" uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                        <div class="uk-card-media-left uk-cover-container card-shadow">
                            {% if site.mision_img %}
                                <img src="{{site.mision_img.url}}" alt="Mision" uk-cover>
                            {% else %}
                                <img src="{% static 'base/images/base.png' %}" alt="" uk-cover>
                            {% endif %}
                            <canvas width="600" height="400"></canvas>
                        </div>
                        <div>
                            <div class="uk-padding-large">
                                <h3 class="uk-text-center uk-h2 uk-scrollspy-inview uk-animation-scale-up" uk-scrollspy-class="" style="">
                                    {% if lang_code == 'English' %}
                                        Mision
                                    {% else %}
                                        Misión
                                    {% endif %}
                                </h3>
                                <div class="uk-margin uk-width-large uk-margin-auto uk-text-center uk-scrollspy-inview uk-animation-scale-up" uk-scrollspy-class="" style="">
                                    {% if lang_code == 'English' %}
                                        {{site.en_mision|safe}}
                                    {% else %}
                                        {{site.es_mision|safe}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class=" uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                        <div class="uk-flex-last@s uk-card-media-right uk-cover-container card-shadow">
                            {% if site.vision_img %}
                                <img src="{{site.vision_img.url}}" alt="Vision" uk-cover>
                            {% else %}
                                <img src="{% static 'base/images/base.png' %}" alt="Vision" uk-cover>
                            {% endif %}
                            <canvas width="600" height="400"></canvas>
                        </div>
                        <div>
                            <div class="uk-padding-large">
                                <h3 class="uk-text-center uk-h2 uk-scrollspy-inview uk-animation-scale-up" uk-scrollspy-class="" style="">
                                    {% if lang_code == 'English' %}
                                        Vision
                                    {% else %}
                                        Visión
                                    {% endif %}
                                </h3>
                                <div class="uk-margin uk-width-large uk-margin-auto uk-text-center uk-scrollspy-inview uk-animation-scale-up" uk-scrollspy-class="" style="">
                                        {% if lang_code == 'English' %}
                                        {{site.en_vision|safe}}
                                    {% else %}
                                        {{site.es_vision|safe}}
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endif %}

    <div class="uk-background-muted">
        <div class="uk-container  uk-background-muted">
            <div class="uk-section-small ">
                <h3 class="uk-heading-line uk-text-center" style="left: 50%; top: 50%">
                    <span>
                        {% if lang_code != 'English' %}
                            Nuestros Valores
                        {% else %}
                            Our values
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>
        <div class="values">
            <div class="uk-container">
                <div class="uk-visible@m">
                    <div class="swiper-container">
                        <div class="swiper-wrapper ">
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Operational excellence
                                    {% else %}
                                        Excelencia operacional
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Entrepreneurial spirit
                                    {% else %}
                                        Espíritu emprendedor
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Passion for our brands
                                    {% else %}
                                        Pasión por nuestras marcas
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Client focus
                                    {% else %}
                                        Enfoque en el cliente
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Operational excellence
                                    {% else %}
                                        Excelencia operacional
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Entrepreneurial spirit
                                    {% else %}
                                        Espíritu emprendedor
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Passion for our brands
                                    {% else %}
                                        Pasión por nuestras marcas
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Client focus
                                    {% else %}
                                        Enfoque en el cliente
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination values-sw-pagination"></div> -->
                        <div class="swiper-button-next swiper-button-white sw-next"></div>
                        <div class="swiper-button-prev swiper-button-white sw-prev"></div>
                    </div>
                </div>
                <div class="values_mov uk-hidden@m">
                    <div class="swiper-container">
                        <div class="swiper-wrapper ">
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Operational excellence
                                    {% else %}
                                        Excelencia operacional
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Entrepreneurial spirit
                                    {% else %}
                                        Espíritu emprendedor
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Passion for our brands
                                    {% else %}
                                        Pasión por nuestras marcas
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Client focus
                                    {% else %}
                                        Enfoque en el cliente
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Operational excellence
                                    {% else %}
                                        Excelencia operacional
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Entrepreneurial spirit
                                    {% else %}
                                        Espíritu emprendedor
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Passion for our brands
                                    {% else %}
                                        Pasión por nuestras marcas
                                    {% endif %}
                                </p>
                            </div>
                            <div class="swiper-slide uk-tile uk-tile-secondary">
                                <p class="uk-h4 uk-text-middle">
                                    {% if lang_code == 'English' %}
                                        Client focus
                                    {% else %}
                                        Enfoque en el cliente
                                    {% endif %}
                                </p>
                            </div>
                        </div>
                        <!-- Add Pagination -->
                        <!-- <div class="swiper-pagination values-sw-pagination"></div> -->
                        <div class="swiper-button-next swiper-button-white sw-next"></div>
                        <div class="swiper-button-prev swiper-button-white sw-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if timeline %}
        <div class="uk-background-muted">
            <div class="uk-container  uk-background-muted">
                <div class="uk-section-small ">
                    <h3 class="uk-heading-line uk-text-center" style="left: 50%; top: 50%">
                        <span>
                            {% if lang_code != 'English' %}
                                Nuestra historia
                            {% else %}
                                Our history
                            {% endif %}
                        </span>
                    </h3>
                </div>
            </div>
        </div>
        <div id="timeline" class="uk-cover-container">
            <img src="/static/base/images/timeline.jpg" uk-cover>
            <div class="timeline-container">
                <div class="timeline uk-position-center">
                    <div class="swiper-container">
                        <div class="swiper-wrapper ">

                            {% for obj in timeline %}
                                {% if lang_code != 'English' %}
                                    <div class="swiper-slide">
                                        <div class="timelineBody">
                                            <h3 class="timelineYear" >{{obj.year}}</h3>
                                            <p class="timelinetitle" >{{obj.es_name}}</p>
                                            <div class="uk-text-lead">
                                                {{obj.es_description|safe}}
                                            </div>
                                        </div>
                                        <div class="icon">
                                            <span class="uk-icon-button  uk-margin-small-right uk-position-top-center" uk-icon="icon: check; ratio: 2.5"></span>
                                        </div>
                                    </div>
                                {% else %}
                                    <div class="swiper-slide">
                                        <div class="timelineBody">
                                            <h3 class="timelineYear" >{{obj.year}}</h3>
                                            <p class="timelinetitle" >{{obj.en_name}}</p>
                                            <div class="uk-text-lead">
                                                {{obj.en_description|safe}}
                                            </div>
                                        </div>
                                        <div class="icon">
                                            {% if obj.ico_img != None %}
                                                <span class="uk-icon uk-icon-image uk-icon-button" style="background-image: url({{obj.ico_img.url}});"></span>
                                            {% elif obj.icon != None %}
                                                <span class="uk-icon-button  uk-margin-small-right uk-position-top-center" uk-icon="icon: {{obj.icon}}; ratio: 2.5"></span>
                                            {% else %}
                                                <span class="uk-icon-button  uk-margin-small-right uk-position-top-center" uk-icon="icon: check; ratio: 2.5"></span>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}

                        </div>
                        <div class="swiper-button-next swiper-button-white uk-position-top-center .sw-next"></div>
                        <div class="swiper-button-prev swiper-button-white uk-position-bottom-center .sw-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    


{% endblock %}

{% block js %}

<script type="text/javascript">
    var swiper,swiperMov,swiperValMov,swiperVal;
    swiperVal = new Swiper('.values .swiper-container', {
        slidesPerView: 4,
        spaceBetween: 30,
        // centeredSlides: true,
        cssWidthAndHeight: true,
        navigation: {
            // nextEl: '.swiper-button-next',
            // prevEl: '.swiper-button-prev',
            nextEl: '.values .sw-next',
            prevEl: '.values .sw-prev',
        },
        // pagination: {
        //     el: '.values-sw-pagination',
        //     dynamicBullets: true,
        // },
        autoplay: {
            delay: 2500,
            disableOnInteraction: false,
        },
    });
    swiperValMov = new Swiper('.values_mov .swiper-container', {
        slidesPerView: 1,spaceBetween: 30,cssWidthAndHeight: true,
        navigation: {nextEl: '.values .sw-next',prevEl: '.values .sw-prev',},
        autoplay: {delay: 2500,disableOnInteraction: false,},
    });
    swiper = new Swiper('.timeline .swiper-container', {
        slidesPerView: 2,
        centeredSlides: true,
        pagination: {el : '.timeline-sw-pagination',},
        navigation: {nextEl: '#timeline .swiper-button-next',prevEl: '#timeline .swiper-button-prev',},
    });
    swiperMov = new Swiper('.mov .swiper-container', {
        //slidesPerView: 1,
        //spaceBetween: 30,
        effect: 'cube',
        cubeEffect: {
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94,
        },
        pagination: {
            el:  '.mov-swiper-pagination',
        },
        navigation: {
            nextEl: '.mov .swiper-button-next',
            prevEl: '.mov .swiper-button-prev',
        },
    });
    
    $('.timeline .swiper-wrapper div:first-child').addClass('.no-beforeline');//.addClass('right-timeline');
    $('.timeline .swiper-wrapper div:last-child').addClass('.no-afterline');//.addClass('right-timeline');
    // $('.timeline .swiper-wrapper .swiper-slide:even').find('.timelineBody').addClass('left-timeline');
</script>
{% endblock %}
<script>

    // target to give background to
    var gradientDiv = document.getElementById("gradient");
    // rgb vals of the gradients
    var gradients = [
        { start: [128,179,171], stop: [30,41,58] },
        { start: [255,207,160], stop: [234,92,68] },
        { start: [212,121,121], stop: [130,105,151] }
    ];
    // how long for each transition
    var transition_time = 4;
    
    // internal type vars
    var currentIndex = 0; // where we are in the gradients array
    var nextIndex = 1; // what index of the gradients array is next
    var steps_count = 0; // steps counter
    var steps_total = Math.round(transition_time*60); // total amount of steps
    var rgb_steps = {
        start: [0,0,0],
        stop: [0,0,0]
    }; 
    // how much to alter each rgb value
    var rgb_values = {
        start: [0,0,0],
        stop: [0,0,0]
    }; 
    // the current rgb values, gets altered by rgb steps on each interval
    var prefixes = ["-webkit-","-moz-","-o-","-ms-",""]; // for looping through adding styles
    var div_style = gradientDiv.style; // short cut to actually adding styles
    var color1, color2;
    
    // sets next current and next index of gradients array
    function set_next(num) {
        return (num + 1 < gradients.length) ? num + 1 : 0;
    }
    
    // work out how big each rgb step is
    function calc_step_size(a,b) {
        return (a - b) / steps_total;
    }
    
    // populate the rgb_values and rgb_steps objects
    function calc_steps() {
        for (var key in rgb_values) {
            if (rgb_values.hasOwnProperty(key)) {
                for(var i = 0; i < 3; i++) {
                    rgb_values[key][i] = gradients[currentIndex][key][i];
                    rgb_steps[key][i] = calc_step_size(gradients[nextIndex][key][i],rgb_values[key][i]);
                }
            }
        }
    }
    
    // update current rgb vals, update DOM element with new CSS background
    function updateGradient(){
        // update the current rgb vals
        for (var key in rgb_values) {
            if (rgb_values.hasOwnProperty(key)) {
                for(var i = 0; i < 3; i++) {
                    rgb_values[key][i] += rgb_steps[key][i];
                }
            }
        }
        
        // generate CSS rgb values
        var t_color1 = "rgb("+(rgb_values.start[0] | 0)+","+(rgb_values.start[1] | 0)+","+(rgb_values.start[2] | 0)+")";
        var t_color2 = "rgb("+(rgb_values.stop[0] | 0)+","+(rgb_values.stop[1] | 0)+","+(rgb_values.stop[2] | 0)+")";
        
        // has anything changed on this interation
        if (t_color1 != color1 || t_color2 != color2) {
            
            // update cols strings
            color1 = t_color1;
            color2 = t_color2;
            
            // update DOM element style attribute
            div_style.backgroundImage = "-webkit-gradient(linear, left bottom, right top, from("+color1+"), to("+color2+"))";
            for (var i = 0; i < 4; i++) {
                div_style.backgroundImage = prefixes[i]+"linear-gradient(45deg, "+color1+", "+color2+")";
            }
        }
        
        // we did another step
        steps_count++;
        // did we do too many steps?
        if (steps_count > steps_total) {
            // reset steps count
            steps_count = 0;
            // set new indexs
            currentIndex = set_next(currentIndex);
            nextIndex = set_next(nextIndex);
            // calc steps
            calc_steps();
        }
        
        if (div_style.backgroundImage.indexOf("gradient") != -1) {
            window.requestAnimationFrame(updateGradient)
        }
    }
    
    // initial step calc
    calc_steps();
    
    // go go go!
    window.requestAnimationFrame(updateGradient);
</script>
