{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'base/css/swiper.min.css' %}">
<style media="screen">
    .timeline-container, .mov {
        height: 600px;
        margin-bottom: 20px;
    }
    .timeline, .mov {
        /*margin-top: 25px;*/
        height: 100%;
        /*
        overflow: hidden;
        */
    }
    .timeline .swiper-container ,
    .mov .swiper-container {
        height: 100%;
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .timeline .swiper-slide {
        background-position: center;
        background-size: cover;
        width: 300px;
        height: 400px;
        background-color: #fff;
        margin-top: 70px
    }

    .timeline .swiper-button-next, .timeline .swiper-button-prev{
        top: 10%;
    }

    .timeline .sw-pagination{
        bottom: 89%;
    }
    .mov .swiper-container {
        width: 100%;
        height: 100%;
    }
    .mov .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
    }
</style>
{% endblock %}

{% block content %}
    {% if banners %}
        <div class="uk-cover-container">
            <div class="full-screen">
                <div class="swiper-container">
                   <div class="swiper-wrapper">
                        {% for banner in banners %}
                            <div class="swiper-slide">
                                <img src="{{banner.short_banner.url}}" alt="{% if lang_code != 'English' %}{{banner.es_name}}{% else %}{{banner.en_name}}{% endif %}">
                                 <div class="uk-overlay-primary uk-position-cover"></div>
                            </div>
                        {% endfor %}
                        <div class="swiper-pagination"></div>
                        <div class="swiper-button-next"></div>
                        <div class="swiper-button-prev"></div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    
    <div class="uk-invisible@m">
        <br><br><br>
    </div>
    <div class="uk-background-muted">
        <div class="uk-container  uk-background-muted">
            <div class="uk-section-small ">
                <h3 class="uk-heading-line" style="left: 50%; top: 50%">
                    <span>
                        {% if lang_code != 'English' %}
                            ¿Quienes somos?
                        {% else %}
                            About us
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>
    </div>

    {% if site %}
        <div class="uk-width-1-1 uk-background-muted">
            <div class="uk-container">
                <div class="" uk-scrollspy="cls: uk-animation-fade; target: > .uk-card; delay: 2000; repeat: true">
                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                        <div class="uk-card-media-left uk-cover-container">
                            {% if site.mision_img %}
                                <img src="{{site.mision_img.url}}" alt="Mision" uk-cover>
                            {% else %}
                                <img src="https://images.pexels.com/photos/26092/pexels-photo-26092.jpg?h=350&auto=compress&cs=tinysrgb" alt="" uk-cover>
                            {% endif %}
                            <canvas width="600" height="400"></canvas>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">
                                    {% if lang_code == 'English' %}
                                        Mision
                                    {% else %}
                                        Misión
                                    {% endif %}
                                </h3>
                                {% if lang_code == 'English' %}
                                    {{site.en_mision|safe}}
                                {% else %}
                                    {{site.es_mision|safe}}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
                        <div class="uk-flex-last@s uk-card-media-right uk-cover-container">
                            {% if site.vision_img %}
                                <img src="{{site.vision_img.url}}" alt="Vision" uk-cover>
                            {% else %}
                                <img src="https://images.pexels.com/photos/7376/startup-photos.jpg?h=350&auto=compress&cs=tinysrgb" alt="Vision" uk-cover>
                            {% endif %}
                            <canvas width="600" height="400"></canvas>
                        </div>
                        <div>
                            <div class="uk-card-body">
                                <h3 class="uk-card-title">
                                    {% if lang_code == 'English' %}
                                        Vision
                                    {% else %}
                                        Visión
                                    {% endif %}
                                </h3>
                                {% if lang_code == 'English' %}
                                    {{site.en_vision|safe}}
                                {% else %}
                                    {{site.es_vision|safe}}
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    {% endif %}

    <div class="uk-background-muted">
        <div class="uk-container  uk-background-muted">
            <div class="uk-section-small ">
                <h3 class="uk-heading-line uk-text-center" style="left: 50%; top: 50%">
                    <span>
                        {% if lang_code != 'English' %}
                            Valores del grupo
                        {% else %}
                            Our values
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>
        <div class="">
            <div class="uk-container">
                <div class="uk-grid-match uk-text-center uk-child-width-1-4@m uk-child-width-2@s" uk-grid uk-height-match="target: > div > .uk-card" >
                    <div>
                        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
                            <div class="uk-text-center uk-padding-large">
                                <h3 class="uk-card-title">
                                    {% if lang_code == 'English' %}
                                         Operational excellence
                                    {% else %}
                                        Excelencia operacional
                                    {% endif %}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
                            <div class="uk-text-center uk-padding-large">
                                <h3 class="uk-card-title">
                                    {% if lang_code == 'English' %}
                                        Entrepreneurial spirit
                                    {% else %}
                                        Espíritu emprendedor
                                    {% endif %}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
                            <div class="uk-text-center uk-padding-large">
                                <h3 class="uk-card-title">
                                    {% if lang_code == 'English' %}
                                        Passion for our brands
                                    {% else %}
                                        Pasión por nuestras marcas
                                    {% endif %}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="uk-card uk-card-default uk-flex uk-flex-center uk-flex-middle">
                            <div class="uk-text-center uk-padding-large">
                                <h3 class="uk-card-title">
                                    {% if lang_code == 'English' %}
                                        Client focus
                                    {% else %}
                                        Enfoque en el cliente
                                    {% endif %}
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="uk-background-muted">
        <div class="uk-container  uk-background-muted">
            <div class="uk-section-small ">
                <h3 class="uk-heading-line uk-text-right" style="left: 50%; top: 50%">
                    <span>
                        {% if lang_code != 'English' %}
                            Nuestra historia
                        {% else %}
                            Our history
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>
    </div>

    {% if site.history %}
        <div id="gradient" class="uk-background-muted">
            <div class="uk-container">    
                <div class="timeline-container uk-visible@m">
                    <div class="timeline">
                        <div class="swiper-container">
                            <div class="swiper-wrapper ">
                                {% for obj in site.history.all %}
                                    {% if lang_code != 'English' %}
                                        <div class="swiper-slide uk-padding">
                                            <h3>
                                                {{obj.es_name}}
                                                <br>
                                                {{obj.year}}
                                            </h3>
                                            <div class="uk-padding">
                                                {{obj.ns_description|safe}}
                                            </div>
                                        </div>
                                    {% else %}
                                        <div class="swiper-slide">
                                            <div class="uk-padding">
                                                <h3>
                                                    {{obj.en_name}}
                                                    <br>
                                                    {{obj.year}}
                                                </h3>
                                            </div>
                                            <div class="uk-padding">
                                                {{obj.en_description|safe}}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination sw-pagination"></div>
                            <div class="swiper-button-next swiper-button-white sw-next"></div>
                            <div class="swiper-button-prev swiper-button-white sw-prev"></div>
                        </div>
                    </div>
                </div>
                <div class="mov-container uk-hidden@m">
                    <div class="mov">
                        <div class="swiper-container">
                            <div class="swiper-wrapper">
                                {% for obj in site.history.all %}
                                    {% if lang_code != 'English' %}
                                        <div class="swiper-slide uk-padding">
                                            <h3>
                                                {{obj.es_name}}
                                                <br>
                                                {{obj.year}}
                                            </h3>
                                            {{obj.es_description|safe}}
                                        </div>
                                    {% else %}
                                        <div class="swiper-slide uk-padding">
                                            <h3>
                                                {{obj.en_name}}
                                                <br>
                                                {{obj.year}}
                                            </h3>
                                            {{obj.en_description|safe}}
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <!-- Add Pagination -->
                            <div class="swiper-pagination .sw-pagination"></div>
                            <div class="swiper-button-next swiper-button-white .sw-next"></div>
                            <div class="swiper-button-prev swiper-button-white .sw-prev"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    

{% endblock %}

{% block js %}

<script type="text/javascript">
    var swiper;
    var swiperMov;
    swiper = new Swiper('.timeline .swiper-container', {
        slidesPerView: 3,
        spaceBetween: 30,
        centeredSlides: true,
        cssWidthAndHeight: true,
        pagination: '.timeline .sw-pagination',
        nextButton: '.timeline .sw-next',
        prevButton: '.timeline .sw-prev',
    });
    swiperMov = new Swiper('.mov .swiper-container', {
        //slidesPerView: 1,
        //spaceBetween: 30,
        effect: 'cube',
        cubeEffect: {
            shadow: true,
            slideShadows: true,
            shadowOffset: 20,
            shadowScale: 0.94,
        },
        pagination: {
            el:  '.mov .swiper-pagination',
        },
        navigation: {
            nextEl: '.mov .swiper-button-next',
            prevEl: '.mov .swiper-button-prev',
        },
    });
</script>

<script>

    // target to give background to
    var gradientDiv = document.getElementById("gradient");
    // rgb vals of the gradients
    var gradients = [
        { start: [128,179,171], stop: [30,41,58] },
        { start: [255,207,160], stop: [234,92,68] },
        { start: [212,121,121], stop: [130,105,151] }
    ];
    // how long for each transition
    var transition_time = 4;
    
    // internal type vars
    var currentIndex = 0; // where we are in the gradients array
    var nextIndex = 1; // what index of the gradients array is next
    var steps_count = 0; // steps counter
    var steps_total = Math.round(transition_time*60); // total amount of steps
    var rgb_steps = {
        start: [0,0,0],
        stop: [0,0,0]
    }; 
    // how much to alter each rgb value
    var rgb_values = {
        start: [0,0,0],
        stop: [0,0,0]
    }; 
    // the current rgb values, gets altered by rgb steps on each interval
    var prefixes = ["-webkit-","-moz-","-o-","-ms-",""]; // for looping through adding styles
    var div_style = gradientDiv.style; // short cut to actually adding styles
    var color1, color2;
    
    // sets next current and next index of gradients array
    function set_next(num) {
        return (num + 1 < gradients.length) ? num + 1 : 0;
    }
    
    // work out how big each rgb step is
    function calc_step_size(a,b) {
        return (a - b) / steps_total;
    }
    
    // populate the rgb_values and rgb_steps objects
    function calc_steps() {
        for (var key in rgb_values) {
            if (rgb_values.hasOwnProperty(key)) {
                for(var i = 0; i < 3; i++) {
                    rgb_values[key][i] = gradients[currentIndex][key][i];
                    rgb_steps[key][i] = calc_step_size(gradients[nextIndex][key][i],rgb_values[key][i]);
                }
            }
        }
    }
    
    // update current rgb vals, update DOM element with new CSS background
    function updateGradient(){
        // update the current rgb vals
        for (var key in rgb_values) {
            if (rgb_values.hasOwnProperty(key)) {
                for(var i = 0; i < 3; i++) {
                    rgb_values[key][i] += rgb_steps[key][i];
                }
            }
        }
        
        // generate CSS rgb values
        var t_color1 = "rgb("+(rgb_values.start[0] | 0)+","+(rgb_values.start[1] | 0)+","+(rgb_values.start[2] | 0)+")";
        var t_color2 = "rgb("+(rgb_values.stop[0] | 0)+","+(rgb_values.stop[1] | 0)+","+(rgb_values.stop[2] | 0)+")";
        
        // has anything changed on this interation
        if (t_color1 != color1 || t_color2 != color2) {
            
            // update cols strings
            color1 = t_color1;
            color2 = t_color2;
            
            // update DOM element style attribute
            div_style.backgroundImage = "-webkit-gradient(linear, left bottom, right top, from("+color1+"), to("+color2+"))";
            for (var i = 0; i < 4; i++) {
                div_style.backgroundImage = prefixes[i]+"linear-gradient(45deg, "+color1+", "+color2+")";
            }
        }
        
        // we did another step
        steps_count++;
        // did we do too many steps?
        if (steps_count > steps_total) {
            // reset steps count
            steps_count = 0;
            // set new indexs
            currentIndex = set_next(currentIndex);
            nextIndex = set_next(nextIndex);
            // calc steps
            calc_steps();
        }
        
        if (div_style.backgroundImage.indexOf("gradient") != -1) {
            window.requestAnimationFrame(updateGradient)
        }
    }
    
    // initial step calc
    calc_steps();
    
    // go go go!
    window.requestAnimationFrame(updateGradient);
</script>
{% endblock %}
