{% extends 'base.html' %}
{% load staticfiles %}

{% block css %}
<link rel="stylesheet" href="{% static 'base/css/swiper.min.css' %}">
<link rel="stylesheet" href="{% static 'base/css/odometer.css' %}">
<link rel="stylesheet" href="{% static 'base/css/home.css' %}">
<style>
    #newsCard .uk-card {margin-left: 5px;margin-right: 5px;}
    .el-image {
        height: 200px;
        width: 200px;
        padding-bottom: 5px;
        padding-top: 5px;
        margin: 3% calc(0% + 7%);
    }
    @media screen (max-width:639){
        .uk-grid {margin-left: unset;}
    }
    #collumns .uk-icon{color: #fff;}
    #collumns h2{color: #FFF;font-size: 7em;}
    #collumns p{color: #fff;font-size: 2.5em;margin-top: -40px;}
    #collumns .center{margin-top: calc(1% + 17%)}
    .uk-grid-divider>:not(.uk-first-column)::before{left: unset !important}
    a[href^="http://maps.google.com/maps"]{display:none !important}
    a[href^="https://maps.google.com/maps"]{display:none !important}
    .gmnoprint a, .gmnoprint span, .gm-style-cc {display:none;}
    .gmnoprint div {background:none !important;}
    #newsSlide img{ min-height: 220px;max-height: 220px}
    #newsSlide .uk-card-body{ min-height: 150px;}
</style>
{% endblock %}

{% block fullscreen %}
    {% if full_banners %}
        <div class="full-screen uk-visible@m">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for banner in full_banners %}
                        <div class="swiper-slide">
                            <img class="uk-background-cover uk-animation-kenburns" 
                                {% if banner.image %} 
                                src="{{banner.image.url}}" 
                                {% else %} 
                                src="{% static 'base/images/base.png' %}"
                                {% endif %} {% if lang_code != 'English' %}
                                alt="{{banner.es_name}}"
                                {% else %}
                                alt="{{banner.en_name}}"{% endif %} uk-height-viewport 
                            ></img>
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-next swiper-button-white"></div>
                <div class="swiper-button-prev swiper-button-white"></div>
            </div>
            <div class="top-logo uk-visible@m uk-position-center">
                <img class="logo-menu" src="{% static 'base/images/logo.png' %}" alt="{{site.name}}" uk-parallax="target: #test-easing; y: 200; easing: 1">
            </div>
            <div class="scroll uk-visible@m uk-position-bottom-center">
                <span id="scroll">
                    <svg version="1.1" id="icn" fill="#fff" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px"
                        y="0px" width="40px" height="50px" viewBox="0 0 40 40" enable-background="new 0 0 40 40" xml:space="preserve">
                        <polygon opacity="0" points="19.9,21 0,1.3 1.4,0 19.9,18.3 38.6,0 40,1.3 ">
                            <animate id="first" attributeName="opacity" attributeType="XML" dur="3s" from="1" to="0" repeatCount="indefinite" begin="0"
                            />
                        </polygon>
                        <polygon id="arrow-two" opacity="0" points="19.9,30.9 0,11.2 1.4,9.9 19.9,28.2 38.6,9.8 40,11.2 ">
                            <animate id="second" attributeName="opacity" attributeType="XML" dur="3s" from="1" to="0" repeatCount="indefinite" begin="1s"
                            />
                        </polygon>
                        <polygon id="arrow-three" opacity="0" points="19.9,40 0,20.3 1.4,19 19.9,37.3 38.6,19 40,20.3 ">
                            <animate id="third" attributeName="opacity" attributeType="XML" dur="3s" from="1" to="0" repeatCount="indefinite" begin="2s"
                            />
                        </polygon>
                    </svg>
                </span>
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block content %}

    {# Informacion del sitio #}
    {% if site %}
        <div class="uk-section-muted">
            <div class="uk-cover-container">
                <canvas width="100%" height="800"></canvas>
                <div class="My-box uk-position-center" uk-scrollspy="cls: uk-animation-slide-top-small; target: > .uk-card; delay: 200;">
                    <div class="uk-card uk-card-body ">
                        {% if lang_code == 'English' %}
                            <h2>{{site.en_name}}</h2>
                            {{site.en_description|safe}}
                            <a href="{% url 'en:about' %}" class="uk-button uk-button-default button-phx uk-child-width-auto uk-margin-small-bottom">
                                Learn more
                            </a>
                        {% else %} 
                            <h2>{{site.es_name}}</h2>
                            {{site.es_description|safe}}
                            <a href="{% url 'es:historia' %}" class="uk-button uk-button-default button-phx uk-child-width-auto uk-margin-small-bottom">
                                Ver más
                            </a>
                        {% endif %}
                    </div>
                </div>
                <img src="{% static 'base/images/chair.jpg' %}" alt="{{site.en_name}}" class="uk-background-center-center uk-background-fixed" uk-cover>
                <!-- <div class="uk-overlay-primary uk-position-cover"></div> -->
            </div>
        </div>
    {% endif %}
    {# Segmentos de negocio #}
    {% if  business_banners  %}
        <div class="uk-container">
            <div class="uk-section-small uk-section-muted">
                <h3 class="uk-heading-line uk-text-center" style="left: 50%; top: 50%">
                    <span>
                        {% if lang_code != 'English' %}
                            Nuestro negocio
                        {% else %}
                            Our business
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>

        <div class="uk-width-1-1 uk-background-muted">
            <div class="uk-container">
                {% for banner in business_banners %}
                    {% if lang_code != 'English' %}
                        <div class="uk-child-width-1-2@s biz-cards uk-margin-xlarge" uk-grid>
                            <div class="child card-shadow uk-card-media-left uk-cover-container uk-animation-scale-up">
                                {% if banner.image %}
                                <img src="{{banner.image.url}}" alt="{{banner.es_name}}" uk-cover>
                                {% else %}
                                {% endif %}
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div>
                                <div class="uk-padding-large">
                                    <h3 class="uk-text-center uk-h2 uk-scrollspy-inview uk-animation-scale-up" uk-scrollspy-class="">
                                        {{banner.es_name}}
                                    </h3>
                                    <div class="uk-margin uk-width-large uk-margin-auto uk-text-center uk-scrollspy-inview uk-animation-scale-up" uk-scrollspy-class="">
                                        {{banner.es_description | safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% else %}
                        <div class="uk-child-width-1-2@s biz-cards uk-margin-xlarge" uk-grid>
                            <div class="child card-shadow uk-card-media-left uk-cover-container uk-animation-scale-up">
                                    {% if banner.image %}
                                    <img src="{{banner.image.url}}" alt="{{banner.en_name}}" uk-cover>
                                    {% else %}
                                    {% endif %}
                                <canvas width="600" height="400"></canvas>
                            </div>
                            <div>
                                <div class="uk-padding-large">
                                    <h3 class="uk-text-center uk-h2 uk-scrollspy-inview uk-animation-scale-up" uk-scrollspy-class="">
                                        {{banner.en_name}}
                                    </h3>
                                    <div class="uk-margin uk-width-large uk-margin-auto uk-text-center uk-scrollspy-inview uk-animation-scale-up" uk-scrollspy-class="">
                                        {{banner.en_description | safe}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div> 
    {% endif %}
    {# Nuestras marcas #}
    {% if home_brands %}
        <div class="uk-container uk-margin-large-top">
            <div class="uk-section-small uk-section-muted">
                <h3 class="uk-heading-line uk-text-center" style="left: 50%; top: 50%">
                    <span>
                        {% if lang_code != 'English' %}
                            Nuestras marcas
                        {% else %}
                            Our brands
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>
        <div class="uk-section uk-background-cover uk-background-center-center uk-background-fixed uk-section" style="background-image: url('/static/base/images/mall.jpg');" id="OdometerFather">
            <div id="brandsSlide" class="uk-visible@m">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="uk-section uk-section-large">
                                <div class="uk-container">
                                    <div class=" uk-margin-remove-vertical uk-grid" uk-grid>
                                        {% for object in home_brands %}
                                            <div class="uk-width-expand@s uk-text-center" id="collumns">
                                                <div class="uk-margin ">
                                                    {% if lang_code == 'English' %}
                                                    <a href="{{object.get_absolute_url_en}}">
                                                        <img src="{{object.short_logo.url}}" class="el-image uk-align-center" alt="{{object.en_name}}" onmouseover="this.src='{{object.large_logo.url}}'" onmouseout="this.src='{{object.short_logo.url}}'">
                                                    </a>
                                                    {% else %}
                                                    <a href="{{object.get_absolute_url_es}}" >
                                                        <img src="{{object.short_logo.url}}" class="el-image uk-align-center" alt="{{object.es_name}}" onmouseover="this.src='{{object.large_logo.url}}'" onmouseout="this.src='{{object.short_logo.url}}'">
                                                    </a>
                                                    {% endif %}
                                                </div>
                                            </div>
                                            {% if forloop.revcounter0 == 4 or forloop.revcounter0 == 12 or forloop.revcounter0 == 20 or forloop.revcounter0 == 28 or forloop.revcounter0 == 36 or forloop.revcounter0 == 44 or forloop.revcounter0 == 52 %}
                                                </div>
                                                    <div class="uk-grid-collapse uk-margin-remove-vertical uk-grid uk-grid-stack">
                                                        <div class="uk-width-1-1@s">
                                                            <div class="uk-hr"></div>
                                                        </div>
                                                    </div>
                                                <div class=" uk-margin-remove-vertical uk-grid" uk-grid atr="loop-4">
                                            {% elif forloop.revcounter0 == 8 or forloop.revcounter0 == 16 or forloop.revcounter0 == 24 or forloop.revcounter0 == 32 or forloop.revcounter0 == 40 or forloop.revcounter0 == 48 %}
                                                    </div alt="close1">
                                                </div alt="close2">
                                            </div alt="close2">
                                        </div alt="close3">
                                        <div class="swiper-slide">
                                            <div class=" uk-section uk-section-large">
                                                <div class="uk-container">
                                                    <div class=" uk-margin-remove-vertical uk-grid" uk-grid atr="loop-8">
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>     
                    </div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <div class="swiper-button-prev swiper-button-white"></div>
                </div>
            </div>
        </div>
        <div id="bradslidermov" class="uk-hidden@m">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {% for object in home_brands %}
                        <div class="swiper-slide">
                            {% if lang_code == 'English' %}
                                <a href="{{object.get_absolute_url_en}}">
                                    <img src="{{object.short_logo.url}}" alt="{{object.en_name}}">
                                </a>
                            {% else %}
                                <a href="{{object.get_absolute_url_es}}" >
                                    <img src="{{object.short_logo.url}}" alt="{{object.es_name}}">
                                </a>
                            {% endif %}
                        </div>     
                    {% endfor %}
                </div>
                <div class="swiper-button-next swiper-button-white movnext"></div>
                <div class="swiper-button-prev swiper-button-white movprev"></div>
            </div>
        </div>
    {% endif %}
    {# Mapa #}
        <div class="uk-container">
            <div class="uk-section-small uk-section-muted">
                <h3 class="uk-heading-line uk-text-center" style="left: 50%; top: 50%">
                    <span>
                        {% if lang_code != 'English' %}
                        ¿En donde estamos?
                        {% else %}
                        Where are we?
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>
        <div id="map"></div>
    {# Mapa #}
    {# Numbers #}
    {% if not number %}
        <div class="uk-container">
            <div class="uk-section-small uk-section-muted">
                <h3 class="uk-heading-line uk-text-center" style="left: 50%; top: 50%">
                    <span>
                        {% if lang_code != 'English' %}
                            {{site.en_title}}
                        {% else %}
                            {{site.es_title}}
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>
        <div class="uk-section uk-section-xlarge uk-background-cover uk-background-center-center uk-background-fixed uk-section" style="background-image: url('/static/base/images/parallax.png');" id="OdometerFather">
            <div class="">
                <div class="uk-container">
                    <div class="uk-grid-divider uk-margin-remove-vertical uk-grid" uk-grid uk-height-match="target: > div > #collumns"> 
                        <div class="uk-width-expand@s uk-first-column uk-text-middle" id="collumns">
                            <div class="uk-margin uk-text-center center">
                                <span>+</span>
                                <h2 class="odometer" id="odoBrand">0</h2>
                                <p class="uk-text-uppercase">Internationals brands</p>
                            </div>
                        </div>
                        <div class="uk-width-expand@s uk-text-middle" id="collumns">
                            <div class="uk-margin-large uk-text-center center">
                                <span>+</span>
                                <h2 class="odometer" id="odoExp">
                                    0
                                </h2>
                                <p class="uk-text-uppercase">YEARS OF RETAIL Experience.</p>
                            </div>
                        </div>
                        <div class="uk-width-expand@s uk-text-middle" id="collumns">
                            <div class="uk-margin uk-text-center">
                                <span uk-icon="icon: users; ratio: 4"></span>
                                <span>+</span>
                                <h2 class="odometer" id="odoStaff">
                                    0
                                </h2>
                                <p class="uk-text-uppercase">Members</p>
                            </div>
                            <div class="uk-margin uk-text-center">
                                <span uk-icon="icon: home; ratio: 4"></span>
                                <span>+</span>
                                <h2 class="odometer" id="odoStores">
                                    0
                                </h2>
                                <p class="uk-text-uppercase">stores</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    {# Noticias #}
    {% if news %}
        <div class="uk-container">
            <div class="uk-section-small uk-section-muted">
                <h3 class="uk-heading-line uk-text-center" style="left: 50%; top: 50%">
                    <span>
                        {% if lang_code != 'English' %}
                            Noticias
                        {% else %}
                            News
                        {% endif %}
                    </span>
                </h3>
            </div>
        </div>
        <div class="uk-section-muted">
            <div class="uk-container" id="slideNews">
                <div class="swiper-container">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide" id="newsSlide">
                            <div class="uk-grid-match uk-child-width-1-3@m uk-child-width-2@s uk-text-center" uk-grid uk-height-match="target: > div > .uk-card" id="newsCard">
                                {% for obj in news %}
                                    {% if forloop.counter0 == 3 %}
                                        </div>
                                    </div>
                                    <div class="swiper-slide" id="newsSlide">
                                        <div class="uk-grid-match uk-child-width-1-3@m uk-child-width-2@s uk-text-center" uk-grid uk-height-match="target: > div > .uk-card" id="newsCard">
                                            <div>
                                                <div class="uk-card uk-card-default">
                                                    {% if lang_code != 'English' %}
                                                        <div class="uk-card-media-top">
                                                            {% if obj.img %}
                                                                <img src="{{obj.img.url}}" alt="{{obj.es_name}}">
                                                            {% else %}
                                                                <img src="{% static 'base/images/base.png' %}" alt="{{obj.es_name}}">
                                                            {% endif %}
                                                        </div>
                                                        <div class="uk-card-body">
                                                            <h3 class="uk-card-title">
                                                                {{obj.es_title}}
                                                            </h3>
                                                            {{obj.es_short_description|safe}}
                                                        </div>
                                                        <div class="uk-card-footer">
                                                            <a href="{{obj.get_absolute_url_es}}" class="uk-button uk-button-text">
                                                                Ver más
                                                            </a>
                                                        </div>
                                                    {% else %}
                                                        <div class="uk-card-media-top">
                                                            {% if obj.img %}
                                                                <img src="{{obj.img.url}}" alt="{{obj.en_name}}">
                                                            {% else %}
                                                                <img src="{% static 'base/images/base.png' %}" alt="{{obj.en_name}}">
                                                            {% endif %}
                                                        </div>
                                                        <div class="uk-card-body">
                                                            <h3 class="uk-card-title">
                                                                {{obj.en_title}}
                                                            </h3>
                                                            {{obj.en_short_description|safe}}
                                                        </div>
                                                        <div class="uk-card-footer">
                                                            <a href="{{obj.get_absolute_url_en}}" class="uk-button uk-button-text">
                                                                Read more
                                                            </a>
                                                        </div>
                                                    {% endif %}
                                                </div>
                                            </div>
                                    {% else %}
                                        <div>
                                            <div class="uk-card uk-card-default">
                                                {% if lang_code != 'English' %}
                                                    <div class="uk-card-media-top">
                                                        {% if obj.img %}
                                                            <img src="{{obj.img.url}}" alt="{{obj.es_name}}">
                                                        {% else %}
                                                            <img src="{% static 'base/images/base.png' %}" alt="{{obj.es_name}}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="uk-card-body">
                                                        <h3 class="uk-card-title">
                                                            {{obj.es_title}}
                                                        </h3>
                                                        {{obj.es_short_description|safe}}
                                                    </div>
                                                    <div class="uk-card-footer">
                                                        <a href="{{obj.get_absolute_url_es}}" class="uk-button uk-button-text">
                                                            Ver más
                                                        </a>
                                                    </div>
                                                {% else %}
                                                    <div class="uk-card-media-top">
                                                        {% if obj.img %}
                                                            <img src="{{obj.img.url}}" alt="{{obj.en_name}}">
                                                        {% else %}
                                                            <img src="{% static 'base/images/base.png' %}" alt="{{obj.en_name}}">
                                                        {% endif %}
                                                    </div>
                                                    <div class="uk-card-body">
                                                        <h3 class="uk-card-title">
                                                            {{obj.en_title}}
                                                        </h3>
                                                        {{obj.en_short_description|safe}}
                                                    </div>
                                                    <div class="uk-card-footer">
                                                        <a href="{{obj.get_absolute_url_en}}" class="uk-button uk-button-text">
                                                            Read more
                                                        </a>
                                                    </div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

{% endblock %}
    
{% block js %}
<script src="{% static 'base/js/odometer.min.js' %}"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA_uf0M6P9N8ZUTm3vsKlm-li2auJ9-guU" async defer></script>
<script src="{% static 'base/js/map.js' %}"></script>
<script>

    $(document).ready(function(){
        // UIkit.slider('#brandSlider').startAutoplay();
        $( "#map" ).delay(1000).fadeIn(initMap);

        var swiper = new Swiper('.full-screen .swiper-container', {
            lazy: true,
            navigation: {
                nextEl: '.full-screen .swiper-button-next',
                prevEl: '.full-screen .swiper-button-prev',
            },
            speed: 2000,
            autoplay: {
                delay: 5000,
            },
            loop: true,
        });
        
        var swiperBrands = new Swiper('#brandsSlide .swiper-container', {
            pagination: '#brandsSlide .swiper-pagination',
            paginationClickable: true,
            navigation: {
                nextEl: '#brandsSlide .swiper-button-next',
                prevEl: '#brandsSlide .swiper-button-prev',
            },
            loop: true,
            autoplay: {
                delay: 6000,
                disableOnInteraction: false,
            },
        });

        var swiperBrandsMov = new Swiper('#bradslidermov .swiper-container', {
            pagination: '#bradslidermov .swiper-pagination',
            paginationClickable: true,
            navigation: {
                nextEl: '#bradslidermov .movnext',
                prevEl: '#bradslidermov .movprev',
            },
            loop: true,
            autoplay: {
                delay: 6000,
                disableOnInteraction: false,
            },
        });

        var swiperNews = new Swiper('#slideNews .swiper-container', {
            pagination: '#slideNews .swiper-pagination',
            paginationClickable: true,
            navigation: {
                nextEl: '#slideNews .swiper-button-next',
                prevEl: '#slideNews .swiper-button-prev',
            },
            loop: true,
            autoplay: {
                delay: 8000,
                disableOnInteraction: false,
            },
        });
        
        $('.biz-cards:odd').find('.child').addClass('uk-flex-last@m uk-card-media-right@m uk-cover-container');
        $('.biz-cards:even').find('.child').addClass('uk-card-media-left@m uk-cover-container card-shadow uk-first-column@m');
        
        $(document).scroll(function () {
            var bodyRect = document.body.getBoundingClientRect(),
                elemRect = document.getElementById("OdometerFather").getBoundingClientRect(),
                offset = elemRect.top - bodyRect.top - window.innerHeight;
            var y = $(this).scrollTop();
            if (y > 1 && y < offset) {
                setTimeout(function(){
                    $('#odoStores').html(0);
                }, 20);
                setTimeout(function(){
                    $('#odoStaff').html(0);
                }, 20);
                setTimeout(function(){
                    $('#odoBrand').html(0);
                }, 20);
                setTimeout(function(){
                    $('#odoExp').html(0);
                    // console.log(true);
                }, 20);
            } else {
                
                setTimeout(function(){
                    // console.log(false);
                    $('#odoStores').html(700);
                }, 4000);
                setTimeout(function(){
                    $('#odoStaff').html(7000);
                }, 4000);
                setTimeout(function(){
                    $('#odoBrand').html(50);
                }, 4000);
                setTimeout(function(){
                    $('#odoExp').html(40);
                }, 4000);
            }
    
        });

    });

</script>

{% endblock %}