{% extends 'base.html' %}
{% load staticfiles %}
{% block css %}
<link rel="stylesheet" href="{% static 'base/css/swiper.min.css' %}">
<style media="screen">
    .swiper-container {
        width: 100%;
        height: 100%;
    }
    .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
    }
    .brand-card img{position: absolute; top: 0; bottom: 0; margin-top: auto; margin-bottom: auto;}
</style>
{% endblock %}

{% block content %}
    {% if news %}
        <div class="uk-width-1-1">
            <div class="uk-section uk-section-small uk-section-muted">
                <div class="uk-container">
                    <!-- Carrusel -->
                    <div class="uk-section-muted">
                        <div class="full-screen">
                            <div class="swiper-container">
                            <div class="swiper-wrapper">
                                    {% for banner in banners %}
                                        <div class="swiper-slide">
                                            {% if lang_code != 'English' %}
                                                {% if banner.large_image %}
                                                    <img src="{{banner.large_image.url}}" alt="{{banner.es_name}}">
                                                {% else %}
                                                    <img src="{% static 'base/images/wallpaper.jpg' %}" alt="{{banner.es_name}}">
                                                {% endif %}
                                            {% else %}
                                                {% if banner.image %}
                                                    <img src="{{banner.large_image.url}}" alt="{{banner.es_name}}">
                                                {% else %}
                                                    <img src="{% static 'base/images/wallpaper.jpg' %}" alt="{{banner.en_name}}">
                                                {% endif %}
                                            {% endif %}
                                        </div>
                                    {% endfor %}
                                </div>
                                <div class="swiper-button-next swiper-button-white"></div>
                                <div class="swiper-button-prev swiper-button-white"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="uk-section uk-section-xsmall uk-section-muted">
            <div class="uk-container" uk-scrollspy="cls: uk-animation-slide-top-small; target: > .spy; delay: 500; repeat: false">
                
                <ul class="uk-breadcrumb spy">
                    <li>
                        <a href="{% if lang_code == 'English' %}{% url 'en:en' %}{% else %}{% url 'es:es' %}{% endif %}">
                            {% if lang_code == 'English' %}
                            Home
                            {% else %}
                            Inicio
                            {% endif %}        
                        </a>
                    </li>
                    <li>
                        <span>
                            {% if lang_code == 'English' %}
                                News
                            {% else %}
                                Noticias
                            {% endif %}
                        </span>
                    </li>
                </ul>
                <div class="uk-grid-match uk-child-width-1-2@m uk-text-center spy" uk-grid uk-height-match="target: > div > .uk-card" uk-scrollspy="cls: uk-animation-fade; target: > div > .uk-card; delay: 800; repeat: true">
                    {% for new in news %}
                        <div>
                            <div class="uk-card uk-card-default">
                                <div class="uk-card-media-top">
                                    <img src="{% if new.short_image %}{{new.short_image.url}}{% else %}https://images.pexels.com/photos/192505/pexels-photo-192505.jpeg?h=350&auto=compress&cs=tinysrgb{% endif %}" alt="{% if lang_code != 'English' %}{{new.es_name}}{% else %}{{new.en_name}}{% endif %}">
                                </div>
                                <div class="uk-card-body">
                                    <h3 class="uk-card-title">
                                        {% if lang_code != 'English' %}
                                            {{new.es_title}}
                                        {% else %}
                                            {{new.en_title}}
                                        {% endif %}
                                    </h3>
                                    {% if lang_code != 'English' %}
                                        {{new.es_short_description|safe}}
                                    {% else %}
                                        {{new.en_short_description|safe}}
                                    {% endif %}
                                </div>
                                <div class="uk-card-footer">
                                    {% if lang_code == 'English' %}
                                        <form action="{% url 'en:news_detail' new.en_slug %}" method="post">
                                            {% csrf_token %}
                                            <button class="uk-button uk-button-text">Read more</button>
                                        </form>
                                    {% else %}
                                        <form action="{% url 'es:detalle_noticias' new.es_slug %}" method="post">
                                            {% csrf_token %}
                                            <button class="uk-button uk-button-text">Ver más</button>
                                        </form>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                {% if lang_code == 'English' %}
                    <ul class="uk-pagination">
                        <li><a href="#"><span class="uk-margin-small-right" uk-pagination-previous></span> Previous</a></li>
                        <li class="uk-margin-auto-left"><a href="#">Next <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
                    </ul>
                {% else %}
                    <ul class="uk-pagination">
                        <li><a href="#"><span class="uk-margin-small-right" uk-pagination-previous></span> Anterior</a></li>
                        <li class="uk-margin-auto-left"><a href="#">Siguiente <span class="uk-margin-small-left" uk-pagination-next></span></a></li>
                    </ul>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(document).ready(function () {
        UIkit.toggle();
    })
    var swiper = new Swiper('.full-screen .swiper-container', {
        pagination: '.full-screen .swiper-pagination',
        paginationClickable: true,
        nextButton: '.full-screen .swiper-button-next',
        prevButton: '.full-screen .swiper-button-prev',
        loop: true,
        autoplay: 8000,
    });
</script>
{% endblock %}
