<!DOCTYPE html>{% load staticfiles %}
<html lang="{% if lang == 'English' %}en{% else %}es{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'base/header.html' %}
    {% block css %}{% endblock %}
</head>
<body>
    {% if return_to_google %}
        <script>
            window.location.replace("http://google.com");
        </script>
    {% endif %}

    {% include 'base/loader.html' %}

    {% block fullscreen %}{% endblock %}

    <div id="body-wrapper" class="uk-invisible">
        <header>{% include 'base/nav.html' %}</header>
        <section>{% block content %}{% endblock %}</section>
        <footer>{% include 'base/footer.html' %}</footer>
    </div>
    <script src="{% static 'base/js/jquery.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/swiper.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/uikit.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/uikit-icons.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/app.js' %}" charset="utf-8"></script>
    {% block js %}{% endblock %}
</body>
</html>