<!DOCTYPE html>{% load staticfiles %}
<html lang="{% if lang == 'English' %}en{% else %}es{% endif %}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% include 'base/header.html' %}
    {% block css %}{% endblock %}
    <script src="{% static 'base/js/jquery.js' %}" charset="utf-8"></script>
</head>
<body>
    {% if return_to_google %}
        <script>
            window.location.replace("http://google.com");
        </script>
    {% endif %}
    
    {% if user_fist_time %}
        {% include 'base/loader.html' %}
    {% endif %}

    {% block fullscreen %}{% endblock %}
    
    {% if user_fist_time %}
    <div id="body-wrapper" class="uk-invisible">
    {% endif %}

        <header>{% include 'base/nav.html' %}</header>
        <section>{% block content %}{% endblock %}</section>
        <footer>{% include 'base/footer.html' %}</footer>
    
    {% if user_fist_time %}
    </div>
    {% endif %}

    <script src="{% static 'base/js/swiper.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/uikit.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/uikit-icons.min.js' %}" charset="utf-8"></script>
    <script src="{% static 'base/js/app.js' %}" charset="utf-8"></script>
    {% block js %}{% endblock %}
    {% if user_fist_time %}
    <script>
        UIkit.util.ready(function () {
            var bar = document.getElementById('js-progressbar');
            var animate = setInterval(function () {
                bar.value += 20;
                if (bar.value >= bar.max) {
                    clearInterval(animate);
                }
            }, 1000);
        });
    </script>
    {% endif %}
</body>
</html>