{% extends 'dashboard/base.html' %}
{% load staticfiles %}

{% block css %}
    <style media="screen">

    </style>
{% endblock %}

{% block content %}
<div class="row">
    <div class="container">
        <div class="col-xs-12">
            <div class="thumbnail">
                <div class="caption">
                    <h2>Test</h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati numquam sed commodi voluptates aliquam optio. Sint necessitatibus molestiae nam, fugit totam sit corporis repudiandae consequatur veritatis aperiam, tempora quia at!
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
{% endblock %}
